@font-face {
    font-family: "Helvetica Rounded Bold"; 
    src: url("helvetica-rounded-bold.woff"); 
}

@font-face {
    font-family: "Helvetica Rounded Black";
    src: url("helvetica-rounded-black.otf")
}

body {
    height: 100%;
    margin: 0;
    font-family: "Helvetica Rounded Bold", sans-serif;
    max-height: fit-content; 
    background: linear-gradient(#9CFFD9,#E88EED);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

main {
    margin: 0;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.box {
    border-radius: 15px;
    box-sizing: content-box;
    min-height: 300px;
    width: 100%;
    max-width: 700px;
    margin-bottom: 10px;
}

#part1 {
    margin-top: 0px;
    color: black;
    background-image: url("images/dreamland.jpg"); 
    background-position: 52%;
    background-size: cover;  
    
}

#part1 h1 {
    font-family: "Helvetica Rounded Black", sans-serif;
    display: flex;
    margin: 0 auto;
    padding: 2px;
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 5px solid #F3DAD8;
    border-radius: 20px;
    background: #F3DAD8;
}

#part1 p {
    border: 5px solid #F3DAD8;
    background: #F3DAD8;
    border-radius: 15px;
    text-align: center;
    max-width: 80%;
    display: flex;
    margin: 0 auto;
    width: fit-content;
}



#part2 {

    background-color: #F1B5CB;
}

#part2 h2 {
    font-family: "Helvetica Rounded Black", sans-serif;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
}


#part2flexbox1 {
    display: flex;
    justify-content: space-around;
    gap: 0px 25px;
    
}

.part2flexbox2 {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#part2 h3 { 
    margin-bottom: 0px;
    font-size: 20;
}

#part2 img {
    object-fit: contain;
    max-height: 100px;
    background-color: #F1B5CB;
}

#part3 {
    background: #F4C3C2;
    min-height: 300px;
    display: flex;
    align-items: center;
}

#part3 > div {
    
    max-width: 400px;
    max-height: 210px;
    border-radius: 20px;
    margin: 0 auto;
    background: #E88EED;
}

#part3 img {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    margin-top: 30px;
    
}

#part3flex1 {
    display: flex;
    align-items: center;
    gap: 25px;
}
#part3flex2 {
    display: flex;
    flex-direction: column;
    margin-left: 25px;

}

#part3 h3 {
    font-family: "Helvetica Rounded Black", sans-serif;
    font-size: 20;
    font-style: italic;
}

#part3flex3 {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

#part3flex2 > h3  {
    margin-left: 15px;


}